@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0px ; 
    padding: 0px;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #000000;   
}

header , .change-habits , .run-an-extra-mile , .meet-our-team ,.bmi-title-and-description-container,.bmi-chart-and-calculate, .membership , .footer{
    max-width:80%;
    margin: 0px auto ; 
}

/* Nav styles */

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.nav-title h1 , .fitness h1{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    color:rgba(230, 83, 60, 1);

}

.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}
.nav-menu ul li{
    cursor: pointer;
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    font-weight: 400;
}
.nav-menu ul li:nth-child(1){     
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 16px;
    border-radius: 24px;
}
.nav-icon{
    display:none;
}

/* banner related style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
}

.banner-content , .banner-image{
    flex-basis: 100% ;
    position: relative;
}



.banner-content h1{
    font-size: 5rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);

}

.banner-content>p , .extra-mile-description{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.8px;
    color:rgba(255, 255, 255, 0.5);


}

#shape{
    font-family: "Kaushan Script", cursive;
    font-weight: 900;
}

.banner-button{
    display: flex;
    gap: 5rem;
}

.banner-button>button , .extra-mile-details>button{
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 48px;
    border-radius: 32px;
    color: rgba(255, 255, 255, 1);
}


.join-now{
    background-color:rgba(230, 83, 60, 1);
    border: none;
}

.Download{
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #000000;
}

.banner-image img{
    max-width: 60%;
    float: right;   
}

.badge-500{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width:140px;
    height:80px;
    padding: 0px 20px;
    border-radius: 1rem;
    position: absolute;
    top:110px;
    right:-60px;
}

.badge-350{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width:160px;
    height:80px;
    border-radius: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    bottom:24px;
    left:140px;
}
.space{
    width:30px;
    height:30px;
    border: none;
    border-radius: 100%;
    background-color:rgba(230, 83, 60, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
}
.badge-500 h1{
    margin-top: 10px;
    font-weight: 700;
    font-size: 2rem;
    color:rgba(255, 255, 255, 1);
}
.badge-350 h1{
    font-weight: 700;
    font-size: 2rem;
    color:rgba(250, 250, 249, 1);

}
.badge-500 p , .badge-350 p{
    font-size: 14px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.65);

}

/* Change Your Habits Style */

.change-habits{
    margin-top: 5rem;
    text-align: center;
}

.change-habits-title , .extra-mile-details-title , .meet-our-team-title ,
.bmi-calculator-title , .membership-title{
    font-size: 4rem;
    font-weight: 900;
    color:rgba(255, 255, 255, 1);

}

.change-habits-description , .meet-our-team-description , .bmi-calculator-description,.membership-description{
    font-size: 1rem;
    font-weight: 400;
    padding:0px 140px;
    line-height: 1.5rem;
    letter-spacing: 0.8px;
    margin-top: 0.8rem;
    margin-bottom: 4rem;
    color:rgba(255, 255, 255, 0.5);
}

.change-habits-cards-container{
    display: flex;
    justify-content: center;
    gap:4rem;
    margin-bottom:5rem;
}

.card-pic>img{
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-bottom: 1rem;
}

.card-details>h3{
    font-size: 1.2rem;
    font-weight: 600;
    color:rgba(255, 255, 255, 1);
}

.card-details>p{
    font-size: 14px;
    font-weight: 500;
    margin-top: .5rem;
    line-height: 150%;
    color:rgba(255, 255, 255, 0.5);
}

/* Run An Extra Mile Easily Part Style */
.run-an-extra-mile{
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color:#222222;
    padding: 40px;
    border-radius: 1rem;
}
.extra-mile-image>img{
    width: 100%;
    border-radius: 1rem;
}

/* Meet Our Team  */

.meet-our-team , .bmi-calculator{
    margin-bottom: 5rem;
}

.meet-our-team-title , .meet-our-team-description{
    text-align: center;
}

.team-member-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:#191919;
    padding: 1.5rem;
    border-radius: 1rem;
}

.trainer{
    width: 100%;
    height: 300px;
    border-radius: 1rem;
}
.team-member{
    position: relative;
}
.team-member>div{
    position:absolute;
    top:220px;
    left:30px;
}

.trainer-name{
    font-size: 1.2rem;
    font-weight: 900;
    color:rgba(255, 255, 255, 1);

}

.trainer-title{
    font-size: .9rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    margin-top: 8px;
}

/* BMI Calculator */

.bmi-calculator-title{
    margin-left: 140px;
}
.bmi-chart-title{
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 2rem;
    color:rgba(255, 255, 255, 1);
}
.bmi-chart-and-calculate-container{
    background-color: #222222;
    padding: 3rem 0rem;
}
.bmi-chart-and-calculate{
   display:grid;
   grid-template-columns: repeat(2 , 1fr);
   justify-content: center;
   align-items: center;
   background-color: #222222;
   
}
.bmi-chart-table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}
.bmi-chart-table th, .bmi-chart-table td{
    border: 1px solid rgb(160 160 160);
    padding: 10px 20px;
    text-align: left;
}
thead{
    font-size: 1rem;
    font-weight: 900;
    color:rgba(255, 255, 255, 1);
}
tbody{
    font-size: 0.9rem;
    color:rgba(255, 255, 255, 0.5);
}

.calculate-your-bmi-title{
    font-size: 1.6rem;
    font-weight: 900;
    color:rgba(255, 255, 255, 1);
}
.calculate-your-bmi-description{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: left;
    color:rgba(255, 255, 255, 0.5);

}
.height , .weight , .age{
    width: 220px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #383838;
    color:#697569;
    border: none;

}
.gender{
    width: 252px;
    padding: 8px 16px;
    color:#697569;
    border-radius: 8px;
    background-color: #383838;
    border: none;
}
.activity-factor{
    width: 508px;
    padding: 8px 12px;
    color:#697569;
    border-radius: 8px;
    background-color: #383838;
    border: none;
}
.age-gender , .select-an-activity-factor{
    margin-top: 5px;
}

.calculate{
    background-color:rgba(230, 83, 60, 1);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 50px;
    border-radius: 30px;
    color:rgba(255, 255, 255, 1);
    margin-top: 1.2rem;
}

/* Membership card */
.membership{
    margin-bottom: 5rem;
}

.membership-title , .membership-description{
    text-align: center;
}

.membership-card-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:2rem;
}

.pf-black-card , .classic-card{
    border-radius: 1rem;
    padding: 1.5rem 2rem;
}

.pf-black-card{
    background-color:black;
    border: 1px solid white;
}

.classic-card{
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid black;
}

.black-card-title , .classic-card-title{
    font-size: 1.5rem;
    font-weight: 900;
}
.black-card-title{
    color: #FFFFFF;
}
.starting-at , .black-card-description , .classic-card-description , .fitness p{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0px;
}
.starting-at{
    color:#707070;
}
#twenty-four{
    color: #FFE600;
    font-size: 2rem;
}
#fifteen{
    color:  #561496;
    font-size: 2rem;
}
.classic-card-description{
    color: #14142B;
}
.black-card-description{
    color: #FFFFFF;
}
.price{
    font-size: 1rem;
    font-weight: 900;
}
.pf-black-card>.price{
    color:#FFFFFF;
}
.pf-black-card-button,.classic-card-button{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 50px;
    border-radius: 30px;
    color:rgba(255, 255, 255, 1);
    margin-top: 1.2rem;
}
.pf-black-card-button{
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #1b1b1b;
}
.classic-card-button{
    border: 1px solid black;
    background-color: black;
}
.learn-more-left{
    color:#FFFFFF;
    font-weight: 600;
}
.learn-more-right{
    color:black;
    font-weight: 600;
}
.learn-more-and-join-now{
    display: flex;
    gap: 12rem;
    justify-content: center;
    align-items: center;
}


/* Footer Related Style */

footer{
    background-color: #191919;
    padding: 3rem ;
}
.footer-container{
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr);
    gap: 6rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    
}
.get-started>ol{
    list-style: none;
    line-height: 2rem;
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.5);
}
.get-started>ol>li{
    cursor: pointer;
}
.fitness p{
    line-height: 1.5rem;
    color:rgba(255, 255, 255, 0.5);

}
.get-started h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color:rgba(255, 255, 255, 1);
}

.all-right-reserved{
    text-align: center;
    border-top: 1px solid rgb(104, 100, 100);
    padding-top: 1.5rem;
    color: rgb(77, 72, 72);
}

button{
    cursor: pointer;
}


/* Mobile Responsive */

@media screen and (max-width:576px) {
    .nav-title h1{
        font-size: 2rem;
    }
    .nav-menu{
        display:none;
    }
    .nav-icon{
        display:block;
        color:white;
        cursor: pointer;
    }

    .banner{
        flex-direction: column;
    }
    .banner-content h1{
        font-size: 3.2rem;
    }
    .banner-button{
        gap: 2rem;
    }
    
    .banner-button button , .extra-mile-details>button , .calculate{
        font-size: 0.8rem;
        padding: 8px 24px;
    }

    .banner-image img{
        max-width: 80%;
        float: none; 
    }

    .badge-500{
        width:120px;
        height:60px;
        right:10px ;  
    }

    .badge-350{
        width:160px;
        height:60px;
        left: 0px;
    }

    .badge-500 h1 ,.badge-350 h1{
        font-size: 1rem;
    }

    .badge-500 p , .badge-350 p{
        font-size: 12px;
    }

    .change-habits-cards-container{
        flex-direction: column;
    }

    .change-habits-title , .extra-mile-details-title , .meet-our-team-title , .bmi-calculator-title ,.membership-title{
        font-size: 2.2rem;
    }
    
    .change-habits-description , .extra-mile-description , .meet-our-team-description , .bmi-calculator-description , 
    .calculate-your-bmi-description, .membership-description{
        font-size: 0.9rem;
        font-weight: 500;
        padding:0px 5px;
        line-height: 1.5rem;
    }

    .run-an-extra-mile{
        flex-direction: column;
        gap:3rem;
        padding: 20px;
    }

    .extra-mile-details>button{
        width: 100%;
    }

    .team-member-container{
        grid-template-columns: repeat(1 , 1fr);
    }

    .bmi-calculator-title{
        margin-left: 0px;
        text-align: center;
    }
    .bmi-calculator-description{
        text-align: center;
    }
    .bmi-chart-and-calculate{
        grid-template-columns: repeat(1 , 1fr);
     }

    .bmi-chart , .bmi-calculate{
        margin: 0px auto;
    }
    .bmi-chart-title{
        text-align: center;
    }
    .calculate-your-bmi-title{
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    .calculate-your-bmi-description{
        text-align: center;
        margin-bottom: 2rem;
    }
    .form{
        text-align: center;
    }
    .height-weight , .age-gender{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin-bottom: 0.6rem;

    }
    .height , .weight , .age{
        width: 140px;    
    }
    .gender{
        width: 174px;
    }
    .activity-factor{
        width: 360px;
    }
    .membership-card-container{
        grid-template-columns: repeat(1 , 1fr);
    }
    .black-card-title , .classic-card-title{
        font-size: 1.2rem;
    }
    .black-card-description , .classic-card-description{
        font-size: 0.9rem;
    }
    .learn-more-left,.learn-more-right{
        font-size: 0.8rem;
    }
    .pf-black-card-button,.classic-card-button{
        font-size: 0.8rem;
        padding: 10px 30px;
    }
    .learn-more-and-join-now{
        gap: 5rem;
    }
    .footer-container{
        grid-template-columns:repeat(1, 1fr);
        gap: 3rem;        
    }
    
}
